$t-eds-c-header--background-color: $t-a-palette-default-white;
$t-eds-c-header--item-color: inherit;
$t-eds-c-header--logo-height: $t-a-icon-default-height;
$t-eds-c-header--icon-size: $t-a-icon-default-height;
$t-eds-c-header--inner-border-color: $t-a-palette-default-blue-light;
$t-eds-c-header--inner-border: 2px solid $t-eds-c-header--inner-border-color;
$t-eds-c-header--outer-border-color: $t-a-palette-default-blue-dark-900;
$t-eds-c-header--outer-border: 2px solid $t-eds-c-header--outer-border-color;
$t-eds-c-header--expander-background-color: $t-a-palette-default-blue-lighter;
$t-eds-c-header--link-selected: $t-a-link-color-resting;
$t-eds-c-header--font-size: $t-a-typography-font-size-s;
$t-eds-c-header--link-padding: $t-a-space-absolute-400 $t-a-space-absolute-200;
$t-eds-c-header--selected-lozenge-height: 6px;
$t-eds-c-header--divider-height: calc(100% - $t-a-space-absolute-400);
$t-eds-c-header--divider-top: $t-a-space-absolute-200;
$t-eds-c-header--divider-margin-left: -#{$t-a-space-absolute-400 - 1px}; // -1px to move it out of screen when Search button moves to next line
$t-eds-c-header--heading-padding: $t-a-space-absolute-400 $t-a-space-absolute-400 0;
$t-eds-c-header--search-input: $t-a-space-absolute-200 $t-a-space-absolute-1200 $t-a-space-absolute-200 $t-a-space-absolute-200;