.eds-c-footer {
	font-size: $t-eds-c-footer--font-size;
	background-color: $t-eds-c-footer--background-color;
	font-family: $t-eds-c-footer--font-family;
	padding-top: $t-a-space-absolute-800;
	padding-bottom: $t-a-space-absolute-800;
	color: $t-eds-c-footer--text-color;
	line-height: $t-eds-c-footer--line-height;
}

.eds-c-footer__container {
	@include u-container;
	@include u-hide-print;
}

.eds-c-footer__links {
	@include u-list-reset;
	margin-bottom: $t-a-space-absolute-800;

	li {
		display: inline-block;

		&:not(:last-child) {
			margin-right: $t-a-space-absolute-600;
		}
	}
}

.eds-c-footer__user {
	color: $t-eds-c-footer--text-color;
	font-size: $t-eds-c-footer--font-size;
	margin-bottom: $t-a-space-absolute-600;
}

.eds-c-footer__user-info {
	margin-bottom: spacing(16);
	margin-top: 0;
	line-height: 1.4;
}

.eds-c-footer__legal {
	color: $t-eds-c-footer--text-color;
	font-size: $t-eds-c-footer--font-size;
	margin-top: $t-a-space-absolute-100;
	margin-bottom: $t-a-space-absolute-0;
}

.eds-c-footer__link {
	line-height: 1.4;
	@include u-link-inherit;
}

.eds-c-footer__link > img {
	vertical-align: middle;
}

button.eds-c-footer__link {
	border: none;
	background: none;
	font-family: $t-eds-c-footer--font-family;
	font-size: inherit;
	padding: 0;
	text-align: left;
}

.eds-c-footer__button-text {
	@include base-link;
	& {
		@include u-link-inherit;
	}
}

.eds-c-footer__list {
	@include u-list-reset();
}

.eds-c-footer__grid {
	display: flex;
	flex-wrap: wrap;

	@supports (display: grid) {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-column-gap: $t-a-space-absolute-400;
		grid-row-gap: $t-a-space-absolute-800;
	}
}

.eds-c-footer__group {
	flex: 1 1 50%;
	max-width: 50%;
	padding-right: $t-a-space-absolute-400;
	margin-bottom: $t-a-space-absolute-400;

	@include media-query('lg') {
		flex-basis: 25%;
		max-width: 25%;
	}

	@supports (display: grid) {
		padding-right: 0;
		max-width: none;
		margin-bottom: 0;
	}
}

.eds-c-footer__group--separator {
	border-bottom: $t-eds-c-footer--border;
	margin-bottom: $t-a-space-absolute-800;
	padding-bottom: $t-a-space-absolute-800;
}

.eds-c-footer__heading {
	color: $t-eds-c-footer--text-color;
	margin-bottom: $t-a-space-absolute-400;
	font-weight: bold;
	font-family: $t-eds-c-footer--heading-font-family;
}

.eds-c-footer__heading--visually-hidden {
	@include u-visually-hidden;
}

.eds-c-footer__item {
	&:not(:last-child) {
		margin-bottom: $t-a-space-absolute-400;
	}
}
