$t-eds-c-footer--line-height: $t-a-typography-line-height-tight;
$t-eds-c-footer--menu-font-size: $t-a-typography-font-size-s;
$t-eds-c-footer--border: 2px solid $t-a-palette-default-white;
$t-eds-c-footer--font-family: $t-a-typography-font-family-default;
$t-eds-c-footer--background-color: $t-a-palette-default-blue-dark-900;
$t-eds-c-footer--font-size: $t-a-typography-font-size-s;
$t-eds-c-footer--text-color: $t-a-palette-default-white;
$t-eds-c-footer--heading-font-family: $t-a-typography-font-family-default;
$t-eds-c-footer--menu-font-family: $t-a-typography-font-family-default;

