<footer {{#if dataTest}} data-test={{dataTest}} {{/if}}>
	<div class="eds-c-footer"
		{{#each dataAttributes as |dataAttribute|}}
			data-{{dataAttribute.name}}="{{dataAttribute.value}}"
		{{/each}}
	>
		{{#if productGroups}}
			{{! Partials locations are set dynamically in the data }}
			{{> eds-c-footer-product}}
		{{/if}}
		{{! Partials locations are set dynamically in the data }}
		{{> eds-c-footer-corporate}}
	</div>
</footer>