<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{title}}</title>
        <link rel="icon" href="/img/favicon.ico">
        {{!-- <link href="/css/examples.css" rel="stylesheet"> --}}
        {{> scripts/head}}
    </head>
    <body>
        <h1>{{title}}</h1>
        {{{body}}}
        {{> scripts/body}}
    </body>
</html>
